.main_chat
  .main_header
    .main_header__left_box
      %h2.main_header__left_box__group
        1ポンド
      %ul.main_header__left_box__member_list
        Member：
        %li.main_header__left_box__member_list__member
          じんじん
    %a{ href: ''}
      .main_header__edit_btn
        Edit

  .messages
    .message
      .message__info
        %p.message_info__name
          じんじん
        %p.message_info__date
          2020/03/11(Wed) 10:00:00

      .message__text
        今日は王将

    .message
      .message__info
        %p.message_info__name
          じんじん
        %p.message_info__date
          2020/03/11(Wed) 11:00:00

      .message__text
        それとも丸亀？

        
    .message
      .message__info
        %p.message_info__name
          じんじん
        %p.message_info__date
          2020/03/11(Wed) 12:00:00
      .message__text
        帰りにタピオカ

  .form
    %form.new_message
      .input_box
        %input{type: "text",class: "input_box__text" ,placeholder: "type a message"}
        %label{class: "input_box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input_box__image__file"}
      %input{type: "submit", class: "submit_btn", value: "Send"}
