.side_bar
  .side_header
    .side_header__box
      %p.side_header__box__user_name
        じんじん
      %ul.side_header__box__menu
        %li.side_header__box__menu__new_grope
          = link_to "#" do
            %i.fa.fa-edit
        %li.side_header__box__menu__edit_user
          = link_to "#" do
            %i.fa.fa-cog
  .groups
    .group
      = link_to "#" do
        .group__group_name
          1ポンド
        .group__message
          メッセージ

