* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side_bar{
  color: #ffff;
  width: 300px;
  float: left;
}

.side_header{
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &__box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

      &__menu__edit_user{
        margin-left: 5px;
      }

    &__menu{
      display: flex;
    
      &__new_grope{
        margin-left: 5px;
      }
    }
 
    &__user_name{
      margin: 0;
      padding: 0;
    }
  }
}

.side_bar a{
  color: #ffff;
  text-decoration: none;
  font-size: 14px;
}

.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
}

.group{
  margin-bottom: 40px;
  &__group_name{
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__message{
    font-size: 11px;
  }
}

.main_chat{
  width: calc(100vw - 300px);
  float: left;
}

.main_header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: solid 1px #eeeeee;
  &__left_box{
    margin-top: 35px;
    &__group{
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px;
    }
    &__member_list{
      font-size: 12px;
      color: #999999;
      display: flex;
    }
  }
  &__edit_btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }
}

.messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px;
  overflow: scroll;
}

.message{
  padding-bottom: 40px;
  &__info{
    display: flex;
    margin-bottom: 12px;
    &__name{
      font-size: 14px;
      font-weight: bold;
      color: #434A54;
    }
    &__date{
      font-size: 12px;
      color: #999999;
      margin-left: 10px;
    }
  }
  &__text{
    font-size: 14px;
    color: #434a54;
    margin-bottom: 10px;
  }
}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}

.new_message{
  display: flex;
}

.input_box{
  width: 100%;
  position: relative;
  &__text{
    width: 100%;
    height: 50px;
    color: #434a54;
    padding: 0 40px 0 10px;
    border-style: none;
  }
  &__image{
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    &__file{
      display: none;
    }
  }
}

.submit_btn{
  height: 50px;
  width: 100px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: #ffffff;
}